@using TicketLayer.BL.ViewModels.Tickets;
@model List<TicketIndexVM>
@{
}

<h1>Tickets Index Goes Here</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-lg-4">
            <div class="card-body d-flex flex-column text-center">
                <strong> Description </strong>
                <p class="badge alert-primary">  @item.Description</p>
                <strong> IsClosed </strong>
                <p class="badge alert-success">  @item.IsClosed</p>
                <strong> Severity </strong>
                <p class="badge alert-danger"> @item.Severity</p>

                    <strong> DepartmentName </strong>
                <p class="badge alert-secondary"> @item.DepartmentName</p>
                <strong> DeveloperCount </strong>
                <p class="badge alert-secondary"> @item.DeveloperCount</p>
                <a class="btn btn-primary" href="/@item.Id">Read Data</a>
            </div>
        </div>


    }

</div>
